.App {
  text-align: center;
  font-family: 'Montserrat';
  background-color: rgb(255, 255, 255);
}

.App-logo {
  height: 7vmin;
  position: absolute;
  left: 0.5%;
  top: 3%
}

.App-header {
  background-color: rgb(255, 255, 255);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 2vmin);
  color: rgb(0, 24, 74);
  font-weight: 1000;
}

.App-SignOut{
  position: absolute;
  bottom: 0%;
  right: 0%;
}